<wasko-navbar>
  <h1>{{title}}</h1>

  <ng-container ngProjectAs="menu">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Home</a>
      <a mat-list-item routerLink="/playlists">Playlists</a>
      <a mat-list-item routerLink="/music-search">Search</a>
      <a mat-list-item routerLink="/experiments">Experiments</a>
    </mat-nav-list>

    <wasko-add-to-playlist></wasko-add-to-playlist>

    <wasko-recent-searches></wasko-recent-searches>
  </ng-container>

  
  <ng-container ngProjectAs="toolbar">
   
    <button mat-button (click)="login()" data-testid="loginbtn">Login</button>
  </ng-container>

  <router-outlet></router-outlet>
</wasko-navbar>
